//Переменные

$color-blue: #58C8E9;
$color-blue-light: rgba(88, 200, 233, 0.25);
$color-pink: #F45B5D;
$color-pink-light: rgba(244, 91, 93, 0.2);
$color-gray: #536268;
$color-gray-light: #DEDCDD;
$color-green-light: #d9f7d9ec;
$color-purple-light: #f6d9f8ec;
$color-yellow-light: #f7f8d9ec;
$color-brown-light: #cc969678;
$black: #000;

$font: 'Noto Sans';

//Миксины
@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin font-h1 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 103px;
}
@mixin font-h11 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
}
@mixin font-h111 {
    font-family: 'Noto Sans';
    font-style: normal;
    line-height: 72px;
    font-weight: 800;
    font-size: 45px;
}
@mixin font-h12 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    line-height: 62px;
    font-size: 50px;
}

@mixin font-h2 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-transform: uppercase;
}
@mixin font-36 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}
@mixin font-30 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}
@mixin font-27 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;}

@mixin font-24 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;}

@mixin font-20 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;}

@mixin font-18 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;}

@mixin font-16 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;}

@mixin font-13 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;}

@mixin payment__font-p {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}
