* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.section-title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 82px;
  text-transform: uppercase;
  position: relative;
  margin: 46px 0 35px 0;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 244px;
  height: 7px;
  background-color: #F45B5D;
}

.schedule {
  position: relative;
  height: 1900px;
  background-image: url(../images/Ellipse-blue.svg), url(../images/Ellipse-pink.svg);
  background-position: top 0 right 0, bottom 0 left 0;
  background-repeat: no-repeat;
}

.schedule-box {
  margin-top: 90px;
  padding: 30px 0 0 0;
  z-index: 1;
  border: 2px solid #DEDCDD;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.schedule-pic {
  height: 53px;
}

.schedule-pic--border {
  border: 1px solid #DEDCDD;
}

.schedule-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.schedule-table {
  margin: 50px auto;
  width: 90%;
  border: 1px solid #DEDCDD;
}
.schedule-table td {
  padding: 15px 10px;
  border: 1px solid #DEDCDD;
}

.schedule-table__text, .schedule-table__link {
  margin: auto;
  padding: 0;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 20px;
}

.schedule-table__text--bold {
  font-weight: 700;
}

.schedule-table__link {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.schedule-table__link--gray {
  background: #DEDCDD;
}

.schedule-table__link--pink {
  background-color: rgba(244, 91, 93, 0.2);
}

.schedule-table__link--blue {
  background-color: rgba(88, 200, 233, 0.25);
}

.schedule-table__link--green {
  background-color: rgba(217, 247, 217, 0.9254901961);
}

.schedule-table__link--purple {
  background-color: rgba(246, 217, 248, 0.9254901961);
}

.schedule-table__link--yellow {
  background-color: rgba(247, 248, 217, 0.9254901961);
}

.schedule-table__link--brown {
  background-color: rgba(204, 150, 150, 0.4705882353);
}

.about-school {
  background-image: url(../images/Ellipse-blue.svg), url(../images/Ellipse-pink.svg);
  background-position: top 0 right 0, bottom 0 left 0;
  background-repeat: no-repeat;
}

.school-content {
  margin: 60px 0 0 0;
}
.school-content p {
  font-family: "Noto Sans";
  font-size: 18px;
}
.school-content p span {
  font-weight: 600;
}
.school-content p a {
  font-weight: 600;
  color: #58C8E9;
}

.school-content__list {
  list-style-type: none;
}

.school-content__item {
  font-family: "Noto Sans";
  font-size: 18px;
}
.school-content__item span {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .schedule-pic {
    height: 33px;
  }
  .schedule-table__text, .schedule-table__link {
    font-size: 16px;
  }
  .schedule-table {
    margin: 50px auto;
    width: 90%;
  }
  .schedule-table td {
    padding: 10px 10px;
  }
  .schedule-table__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .schedule-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .schedule-table tbody {
    width: 100%;
  }
  .schedule-table tr {
    min-width: 100%;
  }
  .schedule-table::-webkit-scrollbar {
    display: none;
  }
  .section-title {
    font-size: 35px;
  }
  .section-title::after {
    bottom: -30px;
  }
}