* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.section-title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
  position: relative;
  margin: 46px 0 35px 0;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 244px;
  height: 7px;
  background-color: #F45B5D;
}

.payment__p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000;
}

.payment__p_font-weight_bold {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
}

.payment__table__font-weight-light {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  font-style: italic;
  border: 1px solid #000000;
}

.payment__p_font-weight_bold-and-italic {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  font-style: italic;
  padding-top: 10px;
}

.payment__table {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  width: 70%;
  margin-bottom: 10px;
}

.payment__th {
  border: 1px solid #000000;
  height: 60px;
}

.payment__td {
  border: 1px solid #000000;
  height: 60px;
}

.payment__p-under-the-table {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  padding-top: 10px;
}