@import "default_variables";

//общие параметры стилей
*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
.section-title{
  @include font-h2;
  position: relative;
  margin: 46px 0 35px 0;
}
.section-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 244px;
  height: 7px;
  background-color: $color-pink;
}
//наши преподаватели
.teachers{
  font-family: $font;
  font-size: 18px;
}
.teachers-description{
  margin: 60px 0 0 0;
  p{
    font-family: $font;
    font-size: 18px;
    img{
      width: 50px;
      height: 30px;
      z-index: 100;
    }
    a{
      font-weight: 600;
      color: $color-blue;
    }
  }
}
.teachers-box_inner{
  width: 80vw;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 10fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: $font;
  font-size: 18px;
  p{
    margin left: 20px;
  }
  }

  .teachers-box__name {
    grid-area: 1 / 3 / 2 / 4;
  text-align: center;
}

.teachers-box__social-net {
  grid-area: 1 / 4 / 2 / 6;
  text-align: end;
  img{
    width: 20px;
    height: 20px;
  }
}
.teachers-box__info { grid-area: 3 / 1 / 4 / 6; }
.teachers-box__language { grid-area: 2 / 1 / 3 / 6; }


